@page
@model tbkk_AC.Pages.Joins.IndexModel

@{
    ViewData["Title"] = "Index";
}



<div class="card-body">
    <h2>Please Select Join</h2>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Please Select
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="../JoinAsset_Assets/Create">Join Asset Assets</a>
            <a class="dropdown-item" href="../JoinAsset_Emp/Create">Join Asset Emp</a>
            <a class="dropdown-item" href="../JoinLicense_Assets/Create">Join License Assets</a>
            <a class="dropdown-item" href="../JoinNetwork_Assets/Create">Join Network Assets</a>
        </div>


    </div>
</div>

