@page
@model tbkk_AC.Pages.Models.EditModel

@{
    ViewData["Title"] = "Edit";
}
    <div id="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Asset Control</li>
                <li class="breadcrumb-item active">Managment</li>
                <li class="breadcrumb-item active">Model</li>
            </ol>
            <div class="card ">
                <div class="card-header" style="font-weight:bold;color:darkblue;">
                    Edit
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <form method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Model.ModelID" />
                                <div class="form-group row">
                                    <label asp-for="Model.ModelName" class="col-sm-3 col-form-label"></label>
                                    <div class="col-sm-8">
                                        <input asp-for="Model.ModelName" class="form-control" />
                                        <span asp-validation-for="Model.ModelName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="Model.Brand_BrandID" class="col-sm-3 col-form-label"></label>
                                    <div class="col-sm-8">
                                        <select asp-for="Model.Brand_BrandID" class="form-control">
                                            <option selected value=@null>Plase select</option>
                                            @foreach (var item in Model.Brand)
                                            {
                                                if (item.Status.Equals("Using"))
                                                {
                                                    <option value=@item.BrandID>@Html.DisplayFor(modelItem => item.BrandName)</option>
                                                }
                                            }
                                        </select>
                                        <span asp-validation-for="Model.Brand_BrandID" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="Model.Status" class="col-sm-3 col-form-label"></label>
                                    <div class="col-sm-8">
                                        <input asp-for="Model.Status" class="form-control" value="Using" readonly />
                                        <span asp-validation-for="Model.Status" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="Model.Note" class="col-sm-3 col-form-label"></label>
                                    <div class="col-sm-8">
                                        <textarea rows="4" cols="15" asp-for="Model.Note" class="form-control"></textarea>
                                        <span asp-validation-for="Model.Note" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row" style="float:right; margin-right:9%">
                                    <a asp-page="./Index"><button type="button" class="btn btn-link">Back to List</button></a>
                                    <input style="margin-left:10px" type="submit" value="Save" class="btn btn-outline-dark" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
